.comment-form {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

#comment-form-editing{
  width: calc(100% - 60px);
  
}
#comment-form-input {
  width: calc(100% - 60px);
  min-height: 35px;
  border-radius: 16px;
  border: none;
  margin-left: 10px;
  height: auto;
  font-size: 18px;
  padding: 4px 12px;
  background-color: var(--main-bg-color);
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

#comment-form-input:focus{
  outline: none;
  background-color: var(--main-bg-color-dark);
}

#comment-form-submit-button:focus {
  outline: none;
}

#comment-form-submit-button {
  background-color: var(--main-border-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment-form-cancel-button {
  background: none;
  border: none;
  margin: 0 22px;
}

#send-icon {
  color: var(--main-accent-color);
}