
.menu-list {
  align-self: center;
  top: 0;
  margin: 15px 0;
}

.menu-list_title a{
  text-align: center;
}


.menu-item {
  width: 680px;
  display: flex;
  border-radius: 12pt;
  margin: 12pt 0;
  background-color: var(--secondary-bg-color);
  box-shadow: var(--main-box-shadow);
}

.menu-item_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 10px;
}
.menu-item img {
    height: 190px;
    width: 110px;
    border-radius: 6pt;
    object-fit: cover;
}

.menu-item {
    border-radius: 6pt;
    display: flex;
}

.menu-item_info {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item_info h2{
    justify-self: flex-start;
}

#menu-item_delete_button {
  border-radius: 4pt;
  color: white;
  width: 40%;
  background-color: var(--main-border-color);
}

.menu input {
  font-size: 18px;
}