.menu {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.menu-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-item-form_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-form_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.menu-item-form_input {
  width: 250px;
  height: 30px;
  text-align: right;
}

.menu-item {
    width: 40vw;
    display: block;
    border-radius: 12pt;
    margin: 12pt 0;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--main-box-shadow);
}

.menu-item_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 10px;
}
.menu-item img {
    height: 190px;
    width: 110px;
    border-radius: 6pt;
    object-fit: cover;
}

.menu-item {
    border-radius: 6pt;
    display: flex;
}

.menu-item_info {
    width: 420px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item_info h2{
    justify-self: flex-start;
}

#menu-item_delete_button {
  border-radius: 4pt;
  color: white;
  width: 90%;
  background-color: var(--main-border-color);
}