.buddy img {
    border-radius: 100px;
    border: 2pt black;
    min-width: 80px;
    max-width: 80px;
    max-height: 80px;
    min-height: 80px;
    object-fit: cover;
    align-self: flex-end;
    margin: 0 5px;
}

.buddy h2 {
    display: inline;
}

.buddy {
    display: flex;
    background-color: var(--main-accent-color);
    color: var(--main-border-color);
    padding: 5pt;
}

#buddy-info a:link{
    color: var(--main-border-color);
    text-decoration: none;
}

#buddy-info a:visited{
    color: var(--main-border-color);
    text-decoration: none;
}

#buddy-info {
    padding: 0 5px;
    margin: 0 2px 0 5px;
}