
.buddy img {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin: 0 5px;
}

.buddy h2 {
    display: inline;
}

.buddy {
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 5pt;
    border-radius: 8px;
}

.buddy:hover {
  background-color: var(--main-bg-color-dark);
  cursor: pointer;
}

#buddy-info a:link{
    color: var(--main-text-color);
    text-decoration: none;
}

#buddy-info a:visited{
    color: var(--main-text-color);
    text-decoration: none;
}

#buddy-info {
    padding: 0 5px;
    margin: 0 2px 0 5px;
}

.buddies-sidebar_header {
  font-size: 20pt;
  font-weight: 700;
  /* position: sticky; */
  top: 0px;
  background-color: var(--main-bg-color);
}