.item-card {
    position: relative;
}

#item-card_image{
    position: relative;
    width: 110px;
    height: 190px;
    margin: 5px;
}

.item-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8pt;
}

#item-card_name {
    position: absolute;
    bottom: 0;
    width: 92%;
    background-color: rgba(5, 5, 5, 0.212);
    color: white;
    padding: 0 10px 10px;
    margin: 5px 5px 5px 10px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0px 0px 9px 9px;
}

