.round-claim-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounds-claim-card{
  width: 40vw;
  border-radius: 8pt;
  margin: 6pt 0;
  background-color: var(--secondary-bg-color);
  box-shadow: var(--main-box-shadow);
}

.rounds-claim-card-info{
    display: flex;
    align-items: center;
}

.rounds-claim-card-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#rounds-claim-card_info_sender{
  display: flex;
  align-items: center;
}

#rounds-claim-card_info_sender img{
  width: 50px;
  height: 50px;
  align-self: flex-end;
  margin: 0 5px;
}

#rounds-claim-card_image {
  margin: 8px;
}

.rounds-claim-card_actions {
  display: flex;
  justify-content: space-evenly;
}

.rounds-claim-qr img{
    height: 200px;
    width: 200px;
}

.redeem-button {
  width: 90%;
  margin: 8px;
}

.comment-form_buttons{
  display: flex;
  justify-content: space-evenly;
}

.comment-form_buttons .button{
  margin: 8px 4px;
}

.comment-form_form {
  text-align: center;
}

.rounds-claim-card .input {
  width: 60%;
  font-size: 18px;
  margin: 4px;
}

.later-button {
  background-color: var(--main-accent-color);
}

.comment-form_form-field label{
  align-items: center;
}

.rounds-cliam-form_input{
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}