.user-page {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 80px;
}

.user-page-rounds_sidebar {
    display: flex;
    justify-content: center;
    position: fixed;
    height: calc(100% - 160px);
    left: 0;
    top: 80;
    overflow-y: scroll;
    width: 20vw;
    min-width: 100px;
    max-width: 450px;
}

.rounds-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
    height: 400px;
    width: 300px;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 400;
    background-color: var(--secondary-bg-color);
    border-radius: 6pt;
    box-shadow: var(--main-box-shadow);
}

.rounds-sidebar .button{
    color: #FFFAFF;
    font-size: 30px;
    font-weight: 500;
    background-color: var(--main-border-color);
    width: 90%;
    height: 60px;
}

.user-page-site_feed {
    margin: 15px 0;
    width: 50%;
    align-self: center;
}

.buddies-sidebar-container {
    position: fixed;
    height: calc(100% - 160px);
    right: 0;
    top: 80;
    overflow-y: scroll;
    background-color: var(--main-accent-color);
    color: var(--main-border-color);
    width: 20vw;
    min-width: 100px;
    max-width: 450px;
}

.buddies-sidebar_header {
    padding: 0 15px;
}

.user-page-buddies_sidebar {
    display: flex;
    margin: 0px;
    max-width: 400px;
}
