.rounds-feed {
  margin-top: 80px;
}

.rounds-card {
    width: 680px;
    border-radius: 12pt;
    margin: 12pt 0;
    background-color: var(--tertiary-bg-color);
    box-shadow: var(--main-box-shadow);
    padding-bottom: 20px;
}

.rounds-card-image img {
    width: 680px;
    height: 400px;
    object-fit: cover;
}

.rounds-card-info{
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    align-items: flex-end;
}

.rounds-card-header{
    display: flex;
    flex-direction: row;
    padding: 15px 15px 20px;
}

.rounds-card-header-description{
    display: flex;
    flex-direction: column;
}

.rounds-card-header img {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin: 0 5px;
}

.rounds-card-header_comment{
padding: 0 18px 18px;
}

.rounds-card-info_site_name {
    font-size: 20px;
    font-weight: 600;
}

.rounds-card-info_divider {
  width: 95%;
}