
.splash-page_banner{
    position: absolute;
    bottom: 0px;
    object-fit: cover;
}

.splash-page{
    width: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    position: fixed;
    height: calc(100vh);
    object-fit: cover;
}