
.splash-page_banner{
    position: absolute;
    bottom: 0px;
    height: calc(100vh - 80px);
    object-fit: cover;
}

.splash-page_logo img{
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
    position: absolute;
    top: 0;
    left: auto;
    margin-top: -100px;
}