.site-page { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-page-header {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.site-page-header img,
.site-page-header #placeholder{
    width: 940px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.site-page-header #placeholder{
  background-color: var(--secondary-bg-color);
}

.site-page-content { 
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
}

.site-page-content-rounds-sidebar {
    position: sticky;
    top: 100px;
    display: flex;
    background-color: var(--secondary-bg-color);
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    padding: 8px;
    margin: 5px 15px 0;
    border-radius: 8px;
    box-shadow: var(--main-box-shadow);
    overflow-wrap: break-word;
}

#site-page-content-rounds-sidebar_info {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

#site-page-content-rounds-sidebar_info a{
  font-size: 14pt;
}