.comment-info img,
.comment-form img {
  width: 40px;
  height: 40px;
  align-self: flex-start;
}

.comment {
  padding: 10px 16px;
  display: flex;
}

#comment-body_info {
  border-radius: 16px;
  background-color: var(--main-bg-color);
  padding: 12px;
  margin: 0 10px;
  max-width: 590px;
  word-wrap: break-word;
  border: none;
}
#comment-body_body-buttons {
  margin-left: 22px;
}

.comment-button {
  background: none;
  border: none;
  margin: 0;
}