* {
  --main-bg-color: #FFFAFF;
  --secondary-bg-color: #FFFFFF;
  --main-text-color: #232B2B;
  --main-accent-color: #6B0E23;
  --secondary-accent-color: #6F4E37;
  --main-border-color: #e38f31;
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 40px;
  box-shadow: var(--main-box-shadow);
  z-index: 999;
}

a {
  cursor: default;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-text-color);
}

.button {
  background-color: #E38F31;
  color: white;
  border-radius: 5pt;
  height: 40px;
  width: 95%;
  border: none;
}

.input {
  color: var(--main-text-color);
  background: var(--main-bg-color);
  margin: 2pt;
  border: 1pt var(--main-accent-color) solid;
  border-radius: 8pt;
}

.form {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  border-radius: 8pt;
}

#modal-content {
  border-radius: 8pt;
}

#login,
#signup {
  border-radius: 8pt;
  display: flex;
  justify-content: center;
  min-width: 400px;
  border-radius: 8pt;
}


.profile-dropdown {
  position: absolute;
  display: flex;
  margin: 0px 20px 0 0;
  padding: 21px 18px 20px;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: var(--main-bg-color);
}

#profile-button-container {
  display: flex;
}

#session-links {
  display: flex;
  align-items: center;
}

#profile-button {
  border: none;
  background: none;
  text-decoration: none;
}

#profile-button:active {
  border: none;
}

#session-links_home-container {
  border-radius: 100px;
  background-color: var(--main-bg-color-dark);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

#session-links_home {
  width: 30px;
  height: 30px;
}

#profile-button img {
  width: 50px;
  height: 50px;
}

#search-bar {
  margin: 0 15px;
  height: 30px;
  font-size: 18px;
}

#search-bar button{
  background: none;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 10px;
}

.search-icon {
  height: 20px;
  width: 20px;
}
