* {
  --main-bg-color: #FFFAFF;
  --secondary-bg-color: #FFFFFF;
  --main-text-color: #232B2B;
  --main-accent-color: #6B0E23;
  --secondary-accent-color: #6F4E37;
  --main-border-color: #e38f31;
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 40px;
  box-shadow: var(--main-box-shadow);
  z-index: 999;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  cursor: default;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-text-color);
}

.button {
  background-color: #E38F31;
  color: white;
  border-radius: 5pt;
  height: 40px;
  width: 95%;
  border: none;
}

#link-logout {

}

.input {
  color: var(--main-text-color);
  background: var(--main-bg-color);
  margin: 2pt;
  border: 1pt var(--main-accent-color) solid;
  border-radius: 8pt;
}

.form {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  border-radius: 8pt;
}

#modal-content {
  border-radius: 8pt;
}

#login,
#signup {
  border-radius: 8pt;
  display: flex;
  justify-content: center;
  min-width: 400px;
  border-radius: 8pt;
}

#link-sites,
#link-my-rounds
{
  padding-top: 18px;    
  padding-bottom: 17px;    
  padding-left: 14px;    
  padding-right: 14px;    
}


#link-sites:hover
#link-my-rounds:hover
{
  background-color: var(--main-bg-color);
}
/* TODO: fix logout rendering behind buddies list */
.profile-dropdown {
  position: absolute;
  display: flex;
  margin-top: -48px;
  margin-right: -40px;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: var(--main-bg-color);
  /* z-index: 999; */
}

#profile-button {
  border-radius: 100px;
  border: 2pt black;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
}

#profile-button img {
  border-radius: 100px;
  min-width: 60px;
  max-width: 60px;
  max-height: 60px;
  min-height: 60px;
  object-fit: cover;
}
